@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    color: black;
    text-align: left;
    line-height: 1.5em;
    font-family: sans-serif;
    background: linear-gradient(180deg, #f5f5f5 0%, #f5f5f5 17%, #b0b0ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
    list-style-type: none;
    text-align: center;
}

li a{
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    line-height: 3em;
    font-weight: normal;
}

.flex_contenedor ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
    padding: 0;
}

h1{
    color: #6D3BCB;
    margin: 3em 1em 1em;
    font-size: 2em;
    line-height: 1.5em;
}

h2{
    color: #f5f5f5;
    font-size: 2em;
}

hr{
    width: 90%;
}

.cabecero{
    background-color: #f5f5f5;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.contenedor_pie_pagina{
    background-color: #6D3BCB;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    justify-content: space-evenly;
    width: 100%;
}

.contenedor_pie_pagina ul li a:hover{
    font-weight: bold;
}

.logo_menu{
    display: flex !important;
}

.logo_menu ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
}

ion-icon{
    color: #6D3BCB;
    font-size: 40px;
    padding: 0.5em 1em;
}

.media_icons{
    display: flex;
}

.media_icons ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seccion1{
    margin: 4em auto 7em;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion2{
    margin: 4em auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.seccion3{
    margin: 4em auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    text-align: center;
}

.texto p{
    font-size: 1.5em;
    color: #808B96;
    line-height: 2em;
}

.texto2{
    text-align: center;
    margin-top: -3.5em;
}

.texto2 p{
    font-size: 1.5em;
    color: #808B96;
    line-height: 2em;
}

.texto3{
    text-align: center;
    margin-top: -2em;
}

.texto3 p{
    font-size: 1.5em;
    color: #7a7a7a;
    line-height: 2em;
}

.boton{
    margin: 1em;
    padding: 15px 30px;
    color: whitesmoke;
    background-color: #6D3BCB;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-block;
    box-shadow: 0 2px 5px gray;
    transition: 0.5s;
}

.boton:hover{
    color: #6D3BCB;
    background-color: #b0b0ff;
}

.img_contenedor1{
    margin: 0;
}

.img_contenedor2{
    margin: 1em 4em 4em 7em;
    padding: 1em;
}

.img_contenedor3{
    margin: 0em 7em 4em -8em;
    padding: 1em;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.foot1{
    display: inline-block;
}

.foot2{
    display: inline-block;
}

.foot3{
    display: inline-block;
}

.foot4{
    display: none;
}

.version{
    color: #f5f5f5;
    background-color: #6d3bcb;
    display: block;
    text-align: center;
    padding: 2em;
    line-height: 2.5em;
}

.dropdown_button{
    text-decoration: none;
    text-align: center;
    color: #808B96;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_contenido{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 190px;
    box-shadow: 0 2px 5px gray;
    z-index: 1;
}

.dropdown_contenido a{
    color: #808B96;
    font-size: 1em;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    text-align: center;
    font-weight: normal;
}

.dropdown:hover .dropdown_contenido {
    display: block;
}

.dropdown:hover .dropdown_button {
    background-color: #f1f1f1;
}

.dropdown_contenido a:hover {
    background-color: #b0b0ff;
    color: whitesmoke;
}

@media (max-width: 1360px){
    
    .seccion3{
        margin: auto;
        padding: 10px;
        display: block;
        justify-content: center;
    }
    
    .img_contenedor3{
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 1em;
    }
}

@media screen and (max-width: 800px){
    .cabecero{
        display: block !important;
    }
    ul{
        padding: 0;
    }
    .seccion3{
        margin: 0 0 2em 0;
    }
}

@media screen and (max-width: 360px) {

    body{
        font-size: 0.9em !important;
        background: none;
        background-color: #f5f5f5;
    }

    h1{
        margin: 1em;
        font-size: 1.5em;
    }

    h2{
        font-size: 1.5em;
    }

    li a{
        line-height: 2em;
    }

    .media_icons{
        display: none;
    }

    .texto p{
        font-size: 1em;
        padding: 0 60px;
    }

    .texto2 p{
        font-size: 1em;
        padding: 0 60px;
    }

    .texto3 p{
        font-size: 1em;
        padding: 0 60px;
    }

    .dropdown_button{
        font-size: 0.9em;
        padding: 0.5em 0.5em 1em 0.5em;
    }

    .dropdown_contenido{
        min-width: 100px;
    }

    .dropdown_contenido a{
        font-size: 0.9em;
    }

    ion-icon{
        font-size: 25px;
    }

    .foot4{
        display: inline-block;
    }

    .foot4 ion-icon{
        color: #f5f5f5;
        padding: 0.1em;
    }

    .seccion1{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .seccion2{
        margin: 1em auto;
    }

    #logomini{
        width: 100px;
        height: auto;
    }

    #logoPhase{
        width: 200px;
        height: auto;
    }

    #devices{
        width: 200px;
        height: auto;
        transform: translateX(2px);
    }

    .img_contenedor2{
        margin: 1em;
    }

    #monitor{
        width: 200px;
        height: auto;
        transform: translateX(2px);
    }
}

@media screen and (max-width: 420px) {

    body{
        font-size: 0.9em !important;
        background: none;
        background-color: #f5f5f5;
    }

    h1{
        margin: 1em;
        font-size: 1.5em;
    }

    h2{
        font-size: 1.5em;
    }

    li a{
        line-height: 2em;
    }

    .contenedor_pie_pagina{
        padding: 3em;
    }

    .media_icons{
        display: none;
    }

    .texto p{
        font-size: 1em;
        padding: 0 60px;
    }

    .texto2 p{
        font-size: 1em;
        padding: 0 60px;
    }

    .texto3 p{
        font-size: 1em;
        padding: 0 60px;
    }

    .dropdown_button{
        font-size: 0.9em;
        padding: 0.5em 0.5em 1em 0.5em;
    }

    .dropdown_contenido{
        min-width: 100px;
    }

    .dropdown_contenido a{
        font-size: 0.9em;
    }

    ion-icon{
        font-size: 25px;
    }

    .foot4{
        display: inline-block;
    }

    .foot4 ion-icon{
        color: #f5f5f5;
        padding: 0.1em;
    }

    .seccion1{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .seccion2{
        margin: 1em auto;
    }

    #logomini{
        width: 100px;
        height: auto;
    }

    #logoPhase{
        width: 200px;
        height: auto;
    }

    #devices{
        width: 200px;
        height: auto;
        transform: translateX(2px);
    }

    .img_contenedor2{
        margin: 1em;
    }

    #monitor{
        width: 200px;
        height: auto;
        transform: translateX(2px);
    }
}